body {
  font-family: monospace;
  text-align: center;
  background-color: #000000;
  color: #88E788;
}

pre {
  margin: 0;
  padding: 0;
  color: #88E788;
}
button{
  color: #88E788;
  background-color: #000000
  border-color: #88E788;
}
input{
  background-color: #000000;
  color: #88E788;
  border-color: #88E788;
}
#log {
  font-family: monospace;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  text-align: left;
  width: 512px;
  margin: auto;
  border: 1px solid #88E788;
  padding: 5px;
  background: #88E788;
}

#output {
  width: 512px;
  height: 480px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
